run = ["sh", "-c", "cd ${REPL_HOME:-$PWD} && ./gradlew run"]
hidden = [".gradle", "build"]

[packager]
language = "java"

[packager.features]
packageSearch = true

[languages.java]
pattern = "**/*.java"

[languages.java.languageServer]
start = "jdt-language-server"

[unitTest]
language = "java"

[nix]
channel = "stable-22_11"

[debugger]
support = true

[debugger.compile]
command = ["sh", "-c", "cd ${REPL_HOME:-$PWD} && ./gradlew build"]

[debugger.interactive]
transport = "localhost:0"
connectTimeout = 60
startCommand = "java-debug" 